body,html{
background-image: url("aloogobi.jpeg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: aqua;

}
.div1{
    display: flex;
    justify-content: right;
    color:white;
    margin-left: 10px;
    font-size: 40px;
    background-color: rgb(83, 82, 82);
    
}
ul{
    display: flex;
}
.logo{
    font-size: 50px;
    color: red;
    border-bottom: 3px black;
    border-radius: 40px;
}
.btn{
    width:80px;
    height: 50px;
    border: 2px solid rgba(62, 210, 236, 0.801);
    background-color: rgb(2, 28, 49);
    color: white;
    font-size: 20px;
    border-radius: 30px;
    margin: 5px 5px;
   padding: 5px 5px;
}
.btn:hover{
    background-color: black;
    border: 3px rgba(250, 10, 10, 0.801);
    cursor: pointer;
}
.maindiv{
    justify-content:space-around ;
    color: black;

}
.maindiv .head{
    font-size: 50px;
    margin-left: 40px;

}
footer{
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size:30px;
}