/* styles.css */
body {
    background-image: url(momos.jpg);
}

.row {
    display: flex;
}
.column {
    flex: 1;
}

img {
    max-width: 100%;
}
h1{
    text-align: left;
    
}
p{
    text-align: left;
    font-size: 20px;
}
.item1{
    height: 350px;
    width: 350px;
    align-items: left;
}